# 라이브러리 및 데이터 불러오기

In [2]:
import pandas as pd
import numpy as np

# 데이터 시각화를 위한 라이브러리
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')  # matplotlib style 설정

# 문법 변경에 의한 경고를 무시
import warnings

warnings.filterwarnings('ignore')

# matplotlib 시각화 결과를 jupyter notebook에서 바로 볼 수 있게 해주는 command
%matplotlib inline

In [3]:
# 데이터 불러오기
js_q1=pd.read_excel('data/coupang_eats_2021-Q1.xlsx')
js_q2=pd.read_excel('data/coupang_eats_2021-Q2.xlsx')
js_q3=pd.read_excel('data/coupang_eats_2021-Q3.xlsx')

# Data Cleansing

## Q1

In [4]:
js_q1.head()

,거래일,거래일시,결제유형,주문아이디,브랜드명,상점명,거래유형,주문내역,총금액,주문금액,...,기본요금,Unnamed: 14,Unnamed: 15,프로모션요금,Unnamed: 17,고객부담배달비,프로모션혜택금액,최종요금,Unnamed: 21,정산금액
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,서비스수수료,카드수수료 및 결제이용료,배달수수료,주문중개수수료,배달요금,NaN,NaN,총공급가액,총부가세액,NaN
1,2021-01-01,2021-01-01 12:03:57,CREDIT,2VUCR0,NaN,제이스레시피,PAY,"치아바타, 블랙올리브 치아바타, 바게트, 스콘",15200.0,12200.0,...,1830,366,6000,1000,5000,2727.0,4557.0,3639,364,8197.0
2,2021-01-01,2021-01-01 12:10:50,CREDIT,1BW780,NaN,제이스레시피,PAY,"뺑오쇼콜라x2, 크로와상, 치아바타, 먹물 유자 크림치즈, 크렌베리 스콘",22200.0,19200.0,...,2880,576,6000,1000,5000,2727.0,5607.0,3849,385,14966.0
3,2021-01-01,2021-01-01 14:29:07,CHECK,2RJPG0,NaN,제이스레시피,PAY,"스콘, 치아바타x2, 호두 크렌베리 캉파뉴, 올리브오일, 레몬 마들렌x2",20000.0,17000.0,...,2550,510,6000,1000,5000,2727.0,5277.0,3783,378,12839.0
4,2021-01-01,2021-01-01 14:46:06,CREDIT,17XM80,NaN,제이스레시피,PAY,"크렌베리 스콘x2, 크렌베리 치아바타x2, 먹물 유자 크림치즈, 아몬드 크로와상, ...",24700.0,21700.0,...,3255,651,6000,1000,5000,2727.0,5982.0,3924,392,17384.0

In [5]:
js_q1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   거래일          178 non-null    object
 1   거래일시         178 non-null    datetime64[ns]
 2   결제유형         178 non-null    object
 3   주문아이디        178 non-null    object
 4   브랜드명         0 non-null      float64
 5   상점명          178 non-null    object
 6   거래유형         178 non-null    object
 7   주문내역         178 non-null    object
 8   총금액          178 non-null    float64
 9   주문금액         178 non-null    float64
 10  결제금액         178 non-null    float64
 11  쿠팡부담할인금액     178 non-null    float64
 12  상점부담할인금액     178 non-null    float64
 13  기본요금         179 non-null    object
 14  Unnamed: 14  179 non-null    object
 15  Unnamed: 15  179 non-null    object
 16  프로모션요금       179 non-null    object
 17  Unnamed: 17  179 non-null    object
 18  고객부담배달비      178 non-null    float64
 19  프로모션혜택금액     178 non-null    float64
 20  최종요금         179 non-null    object
 21  Unnamed: 21  179 non-null    object
 22  정산금액         178 non-null    float64
dtypes: datetime64[ns](1), float64(9), object(13)
memory usage: 32.3+ KB

**js_q1**
- 거래일, 브랜드명, 상점명 drop
- 기본요금 -> 서비스수수료, Unnamed: 14 -> 카드수수료_결제이용료, Unnamed: 15 -> 배달수수료, 프로모션요금 -> 주문중개수수료, Unnamed: 17 -> 배달요금, 최종요금 -> 총공급가액, Unnamed: 21 -> 총부가세액
- 0행 지우기

In [6]:
# 불필요한 행 drop
js_q1.drop(['거래일', '브랜드명', '상점명'], axis=1, inplace=True)

In [7]:
# 열 이름 변경
js_q1.rename(columns={'기본요금':'서비스수수료', 'Unnamed: 14':'카드수수료_결제이용료', 'Unnamed: 15':'배달수수료',
                      '프로모션요금':'주문중개수수료', 'Unnamed: 17':'배달요금', '최종요금':'총공급가액', 'Unnamed: 21':'총부가세액'}, inplace=True)
js_q1.drop(0, axis=0, inplace=True)

In [8]:
# q2, q3에 맞춰 최종요금 총액 행 만들기
js_q1['최종요금총액']=js_q1.총공급가액+js_q1.총부가세액

In [9]:
# 행 정렬
temp=js_q1.정산금액
js_q1.drop(['정산금액'], axis=1, inplace=True)
js_q1.loc[:,'정산금액']=temp

In [10]:
# 고객 부담 배달비 총액이 3000원이므로 고객부담배달비 열을 '고객부담배달비총액' 으로 변경후 +/- 3000으로 변경
js_q1.rename(columns={'고객부담배달비':'고객부담배달비총액'}, inplace=True)
js_q1['고객부담배달비총액']=js_q1['고객부담배달비총액'].apply(lambda x: 3000 if (x>0) else -3000).astype('float')

In [11]:
js_q1.head()

,거래일시,결제유형,주문아이디,거래유형,주문내역,총금액,주문금액,결제금액,쿠팡부담할인금액,상점부담할인금액,...,카드수수료_결제이용료,배달수수료,주문중개수수료,배달요금,고객부담배달비총액,프로모션혜택금액,총공급가액,총부가세액,최종요금총액,정산금액
1,2021-01-01 12:03:57,CREDIT,2VUCR0,PAY,"치아바타, 블랙올리브 치아바타, 바게트, 스콘",15200.0,12200.0,13200.0,2000.0,0.0,...,366,6000,1000,5000,3000.0,4557.0,3639,364,4003,8197.0
2,2021-01-01 12:10:50,CREDIT,1BW780,PAY,"뺑오쇼콜라x2, 크로와상, 치아바타, 먹물 유자 크림치즈, 크렌베리 스콘",22200.0,19200.0,20200.0,2000.0,0.0,...,576,6000,1000,5000,3000.0,5607.0,3849,385,4234,14966.0
3,2021-01-01 14:29:07,CHECK,2RJPG0,PAY,"스콘, 치아바타x2, 호두 크렌베리 캉파뉴, 올리브오일, 레몬 마들렌x2",20000.0,17000.0,18000.0,2000.0,0.0,...,510,6000,1000,5000,3000.0,5277.0,3783,378,4161,12839.0
4,2021-01-01 14:46:06,CREDIT,17XM80,PAY,"크렌베리 스콘x2, 크렌베리 치아바타x2, 먹물 유자 크림치즈, 아몬드 크로와상, ...",24700.0,21700.0,22700.0,2000.0,0.0,...,651,6000,1000,5000,3000.0,5982.0,3924,392,4316,17384.0
5,2021-01-01 16:39:16,BANK,2RVT80,PAY,"먹물 치즈 치아바타, 뺑오쇼콜라, 크렌베리 치아바타x2",16200.0,13200.0,14200.0,2000.0,0.0,...,396,6000,1000,5000,3000.0,4707.0,3669,367,4036,9164.0

In [12]:
js_q1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 1 to 178
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   거래일시         178 non-null    datetime64[ns]
 1   결제유형         178 non-null    object
 2   주문아이디        178 non-null    object
 3   거래유형         178 non-null    object
 4   주문내역         178 non-null    object
 5   총금액          178 non-null    float64
 6   주문금액         178 non-null    float64
 7   결제금액         178 non-null    float64
 8   쿠팡부담할인금액     178 non-null    float64
 9   상점부담할인금액     178 non-null    float64
 10  서비스수수료       178 non-null    object
 11  카드수수료_결제이용료  178 non-null    object
 12  배달수수료        178 non-null    object
 13  주문중개수수료      178 non-null    object
 14  배달요금         178 non-null    object
 15  고객부담배달비총액    178 non-null    float64
 16  프로모션혜택금액     178 non-null    float64
 17  총공급가액        178 non-null    object
 18  총부가세액        178 non-null    object
 19  최종요금총액       178 non-null    object
 20  정산금액         178 non-null    float64
dtypes: datetime64[ns](1), float64(8), object(12)
memory usage: 30.6+ KB

## Q2

In [13]:
js_q2.head()

,거래일,거래일시,결제유형,주문아이디,브랜드명,상점명,거래유형,주문내역,총금액,주문금액,...,Unnamed: 15,프로모션요금,Unnamed: 17,고객부담배달비,고객부담배달비 (총액),프로모션혜택금액,최종요금,Unnamed: 22,Unnamed: 23,정산금액
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,배달수수료,주문중개수수료,배달요금,NaN,NaN,NaN,총공급가액,총부가세액,총액,NaN
1,2021-04-01,2021-04-01 14:02:12,CHECK,1BPC80,NaN,제이스레시피,PAY,"바게트x2, 호두 크렌베리 캉파뉴, 치아바타",17000.0,14000.0,...,6000,1000,5000,2727.0,3000.0,4827.0,3693,369,4062,9938.0
2,2021-04-01,2021-04-01 16:27:36,CHECK,1TBK00,NaN,제이스레시피,PAY,"호두 크렌베리 캉파뉴, 초코 브리오슈, 아메리카노, 멀티그레인 빵드미",18900.0,15900.0,...,6000,1000,5000,2727.0,3000.0,5112.0,3750,375,4125,11775.0
3,2021-04-02,2021-04-02 14:47:50,BANK,1S3080,NaN,제이스레시피,PAY,"먹물 유자 크림치즈x2, 먹물 치즈 치아바타x2, 녹차 스콘, 무화과 사워도우, 치...",34800.0,31800.0,...,6000,1000,5000,2727.0,3000.0,7497.0,4227,422,4649,27151.0
4,2021-04-03,2021-04-03 12:53:39,CHECK,2K6A00,NaN,제이스레시피,PAY,"블랙올리브 치아바타, 크렌베리 스콘, 먹물 치즈 치아바타x2",18000.0,15000.0,...,6000,1000,5000,2727.0,3000.0,4977.0,3723,372,4095,10905.0

In [14]:
js_q2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   거래일           264 non-null    object
 1   거래일시          264 non-null    datetime64[ns]
 2   결제유형          264 non-null    object
 3   주문아이디         264 non-null    object
 4   브랜드명          0 non-null      float64
 5   상점명           264 non-null    object
 6   거래유형          264 non-null    object
 7   주문내역          264 non-null    object
 8   총금액           264 non-null    float64
 9   주문금액          264 non-null    float64
 10  결제금액          264 non-null    float64
 11  쿠팡부담할인금액      264 non-null    float64
 12  상점부담할인금액      264 non-null    float64
 13  기본요금          265 non-null    object
 14  Unnamed: 14   265 non-null    object
 15  Unnamed: 15   265 non-null    object
 16  프로모션요금        265 non-null    object
 17  Unnamed: 17   265 non-null    object
 18  고객부담배달비       264 non-null    float64
 19  고객부담배달비 (총액)  264 non-null    float64
 20  프로모션혜택금액      264 non-null    float64
 21  최종요금          265 non-null    object
 22  Unnamed: 22   265 non-null    object
 23  Unnamed: 23   265 non-null    object
 24  정산금액          264 non-null    float64
dtypes: datetime64[ns](1), float64(10), object(14)
memory usage: 51.9+ KB

**js_q2**
- 거래일, 브랜드명, 상점명 고객부담배달비 drop
- 기본요금 -> 서비스수수료, Unnamed: 14 -> 카드수수료_결제이용료, Unnamed: 15 -> 배달수수료, 프로모션요금 -> 주문중개수수료, Unnamed: 17 -> 배달요금, 고객부담배달비 (총액) -> 고객부담배달비총액, 최종요금 -> 총공급가액, Unnamed: 22 -> 총부가세액, Unnamed: 23 -> 최종요금총액
- 0행 지우기

In [15]:
# 불필요한 행 drop
js_q2.drop(['거래일', '브랜드명', '상점명', '고객부담배달비'], axis=1, inplace=True)

In [16]:
# 행 이름 변경
js_q2.rename(columns={'기본요금':'서비스수수료', 'Unnamed: 14':'카드수수료_결제이용료', 'Unnamed: 15':'배달수수료',
                      '프로모션요금':'주문중개수수료', 'Unnamed: 17':'배달요금', '고객부담배달비 (총액)':'고객부담배달비총액',
                      '최종요금':'총공급가액', 'Unnamed: 22':'총부가세액', 'Unnamed: 23':'최종요금총액'}, inplace=True)
js_q2.drop(0, axis=0, inplace=True)

In [17]:
js_q2.head()

,거래일시,결제유형,주문아이디,거래유형,주문내역,총금액,주문금액,결제금액,쿠팡부담할인금액,상점부담할인금액,...,카드수수료_결제이용료,배달수수료,주문중개수수료,배달요금,고객부담배달비총액,프로모션혜택금액,총공급가액,총부가세액,최종요금총액,정산금액
1,2021-04-01 14:02:12,CHECK,1BPC80,PAY,"바게트x2, 호두 크렌베리 캉파뉴, 치아바타",17000.0,14000.0,14000.0,3000.0,0.0,...,420,6000,1000,5000,3000.0,4827.0,3693,369,4062,9938.0
2,2021-04-01 16:27:36,CHECK,1TBK00,PAY,"호두 크렌베리 캉파뉴, 초코 브리오슈, 아메리카노, 멀티그레인 빵드미",18900.0,15900.0,17900.0,1000.0,0.0,...,477,6000,1000,5000,3000.0,5112.0,3750,375,4125,11775.0
3,2021-04-02 14:47:50,BANK,1S3080,PAY,"먹물 유자 크림치즈x2, 먹물 치즈 치아바타x2, 녹차 스콘, 무화과 사워도우, 치...",34800.0,31800.0,34800.0,0.0,0.0,...,954,6000,1000,5000,3000.0,7497.0,4227,422,4649,27151.0
4,2021-04-03 12:53:39,CHECK,2K6A00,PAY,"블랙올리브 치아바타, 크렌베리 스콘, 먹물 치즈 치아바타x2",18000.0,15000.0,18000.0,0.0,0.0,...,450,6000,1000,5000,3000.0,4977.0,3723,372,4095,10905.0
5,2021-04-03 12:55:31,BANK,1KDAG0,PAY,"크렌베리 치아바타, 병아리콩 치아바타x2, 먹물 치즈 치아바타",15600.0,12600.0,15600.0,0.0,0.0,...,378,6000,1000,5000,3000.0,4617.0,3651,365,4016,8584.0

In [18]:
js_q2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264 entries, 1 to 264
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   거래일시         264 non-null    datetime64[ns]
 1   결제유형         264 non-null    object
 2   주문아이디        264 non-null    object
 3   거래유형         264 non-null    object
 4   주문내역         264 non-null    object
 5   총금액          264 non-null    float64
 6   주문금액         264 non-null    float64
 7   결제금액         264 non-null    float64
 8   쿠팡부담할인금액     264 non-null    float64
 9   상점부담할인금액     264 non-null    float64
 10  서비스수수료       264 non-null    object
 11  카드수수료_결제이용료  264 non-null    object
 12  배달수수료        264 non-null    object
 13  주문중개수수료      264 non-null    object
 14  배달요금         264 non-null    object
 15  고객부담배달비총액    264 non-null    float64
 16  프로모션혜택금액     264 non-null    float64
 17  총공급가액        264 non-null    object
 18  총부가세액        264 non-null    object
 19  최종요금총액       264 non-null    object
 20  정산금액         264 non-null    float64
dtypes: datetime64[ns](1), float64(8), object(12)
memory usage: 45.4+ KB

## Q3

In [19]:
js_q3.head()

,거래일,거래일시,주문유형,결제유형,주문아이디,브랜드명,상점명,거래유형,주문내역,총금액,...,고객부담배달비,고객부담배달비 (총액),프로모션혜택금액,최종요금,Unnamed: 23,Unnamed: 24,광고비,Unnamed: 26,Unnamed: 27,정산금액
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,총공급가액,총부가세액,총액,총공급가액,총부가세액,총액,NaN
1,2021-07-02,2021-07-02 16:56:35,배달,CREDIT,1TLG00,NaN,제이스레시피,PAY,"스콘, 크렌베리 스콘, 아몬드 크로와상, 카페라떼, 먹물 치즈 치아바타",21800.0,...,2727.0,3000.0,5547.0,3837,383,4220,0,0,0,14580.0
2,2021-07-02,2021-07-02 19:01:48,배달,CREDIT,1DSLR0,NaN,제이스레시피,PAY,"호두 크렌베리 캉파뉴, 곡물 치아바타, 병아리콩 치아바타, 먹물 치즈 치아바타",17700.0,...,2727.0,3000.0,4932.0,3714,371,4085,0,0,0,10615.0
3,2021-07-03,2021-07-03 12:03:27,배달,CREDIT,2WLXR0,NaN,제이스레시피,PAY,"병아리콩 치아바타, 체다치즈, 녹차 스콘, 초코 스콘",18400.0,...,2727.0,3000.0,4587.0,3645,364,4009,0,0,0,8391.0
4,2021-07-03,2021-07-03 13:36:42,배달,CREDIT,1B2PR0,NaN,제이스레시피,PAY,"카페라떼, 아메리카노, 병아리콩 치아바타, 아몬드 크로와상",17000.0,...,2727.0,3000.0,4827.0,3693,369,4062,0,0,0,9938.0

In [20]:
js_q3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 29 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   거래일           271 non-null    object
 1   거래일시          271 non-null    datetime64[ns]
 2   주문유형          271 non-null    object
 3   결제유형          271 non-null    object
 4   주문아이디         271 non-null    object
 5   브랜드명          0 non-null      float64
 6   상점명           271 non-null    object
 7   거래유형          271 non-null    object
 8   주문내역          271 non-null    object
 9   총금액           271 non-null    float64
 10  주문금액          271 non-null    float64
 11  결제금액          271 non-null    float64
 12  쿠팡부담할인금액      271 non-null    float64
 13  상점부담할인금액      271 non-null    float64
 14  기본요금          272 non-null    object
 15  Unnamed: 15   272 non-null    object
 16  Unnamed: 16   272 non-null    object
 17  프로모션요금        272 non-null    object
 18  Unnamed: 18   272 non-null    object
 19  고객부담배달비       271 non-null    float64
 20  고객부담배달비 (총액)  271 non-null    float64
 21  프로모션혜택금액      271 non-null    float64
 22  최종요금          272 non-null    object
 23  Unnamed: 23   272 non-null    object
 24  Unnamed: 24   272 non-null    object
 25  광고비           272 non-null    object
 26  Unnamed: 26   272 non-null    object
 27  Unnamed: 27   272 non-null    object
 28  정산금액          271 non-null    float64
dtypes: datetime64[ns](1), float64(10), object(18)
memory usage: 61.8+ KB

**js_q3**
- 거래일, 주문유형, 브랜드명, 상점명, 고객부담배달비, 광고비, Unnamed: 26, Unnamed: 27 drop
- 기본요금 -> 서비스수수료, Unnamed: 15 -> 카드수수료_결제이용료, Unnamed: 16 -> 배달수수료, 프로모션요금 -> 주문중개수수료, Unnamed: 18 -> 배달요금, 고객부담배달비 (총액) -> 고객부담배달비총액, 최종요금 -> 총공급가액, Unnamed: 23 -> 총부가세액, Unnamed: 24 -> 최종요금총액
- 0행 지우기

In [21]:
# 불필요한 행 drop
js_q3.drop(['거래일', '주문유형', '브랜드명', '상점명','고객부담배달비', '광고비', 'Unnamed: 26', 'Unnamed: 27'], axis=1, inplace=True)

In [22]:
# 행 이름 변경
js_q3.rename(columns={'기본요금':'서비스수수료', 'Unnamed: 15':'카드수수료_결제이용료', 'Unnamed: 16':'배달수수료',
                      '프로모션요금':'주문중개수수료', 'Unnamed: 18':'배달요금', '고객부담배달비 (총액)':'고객부담배달비총액',
                      '최종요금':'총공급가액', 'Unnamed: 23':'총부가세액', 'Unnamed: 24':'최종요금총액'}, inplace=True)
js_q3.drop(0, axis=0, inplace=True)

In [23]:
js_q3.head()

,거래일시,결제유형,주문아이디,거래유형,주문내역,총금액,주문금액,결제금액,쿠팡부담할인금액,상점부담할인금액,...,카드수수료_결제이용료,배달수수료,주문중개수수료,배달요금,고객부담배달비총액,프로모션혜택금액,총공급가액,총부가세액,최종요금총액,정산금액
1,2021-07-02 16:56:35,CREDIT,1TLG00,PAY,"스콘, 크렌베리 스콘, 아몬드 크로와상, 카페라떼, 먹물 치즈 치아바타",21800.0,18800.0,18800.0,3000.0,0.0,...,564,6000,1000,5000,3000.0,5547.0,3837,383,4220,14580.0
2,2021-07-02 19:01:48,CREDIT,1DSLR0,PAY,"호두 크렌베리 캉파뉴, 곡물 치아바타, 병아리콩 치아바타, 먹물 치즈 치아바타",17700.0,14700.0,17700.0,0.0,0.0,...,441,6000,1000,5000,3000.0,4932.0,3714,371,4085,10615.0
3,2021-07-03 12:03:27,CREDIT,2WLXR0,PAY,"병아리콩 치아바타, 체다치즈, 녹차 스콘, 초코 스콘",18400.0,12400.0,18400.0,0.0,0.0,...,372,6000,1000,5000,3000.0,4587.0,3645,364,4009,8391.0
4,2021-07-03 13:36:42,CREDIT,1B2PR0,PAY,"카페라떼, 아메리카노, 병아리콩 치아바타, 아몬드 크로와상",17000.0,14000.0,17000.0,0.0,0.0,...,420,6000,1000,5000,3000.0,4827.0,3693,369,4062,9938.0
5,2021-07-03 15:09:42,CHECK,232FG0,PAY,"스콘x2, 크렌베리 스콘, 뺑오쇼콜라",15600.0,12600.0,15600.0,0.0,0.0,...,378,6000,1000,5000,3000.0,4617.0,3651,365,4016,8584.0

In [24]:
js_q3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271 entries, 1 to 271
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   거래일시         271 non-null    datetime64[ns]
 1   결제유형         271 non-null    object
 2   주문아이디        271 non-null    object
 3   거래유형         271 non-null    object
 4   주문내역         271 non-null    object
 5   총금액          271 non-null    float64
 6   주문금액         271 non-null    float64
 7   결제금액         271 non-null    float64
 8   쿠팡부담할인금액     271 non-null    float64
 9   상점부담할인금액     271 non-null    float64
 10  서비스수수료       271 non-null    object
 11  카드수수료_결제이용료  271 non-null    object
 12  배달수수료        271 non-null    object
 13  주문중개수수료      271 non-null    object
 14  배달요금         271 non-null    object
 15  고객부담배달비총액    271 non-null    float64
 16  프로모션혜택금액     271 non-null    float64
 17  총공급가액        271 non-null    object
 18  총부가세액        271 non-null    object
 19  최종요금총액       271 non-null    object
 20  정산금액         271 non-null    float64
dtypes: datetime64[ns](1), float64(8), object(12)
memory usage: 46.6+ KB

In [25]:
js_q3.columns

Index(['거래일시', '결제유형', '주문아이디', '거래유형', '주문내역', '총금액', '주문금액', '결제금액',
       '쿠팡부담할인금액', '상점부담할인금액', '서비스수수료', '카드수수료_결제이용료', '배달수수료', '주문중개수수료',
       '배달요금', '고객부담배달비총액', '프로모션혜택금액', '총공급가액', '총부가세액', '최종요금총액', '정산금액'],
      dtype='object')

- 세 개 쿼터 합치기
- 거래일시 시간별로 오전 오후 나누기(12시 ~ 20시 -> 12 ~ 16:59 / 17~20)
- 서비스수수료+카드수수료_결제이용료+(배달수수료-프로모션혜택금액)=>총공급가액
- 주문금액-최종요금총액 => 정산금액

# 시각화

In [139]:
sns.countplot('거래유형', data=js_coupang) ## 1번째 위치에 그래프 그림
plt.show()

NameError: name 'js_coupang' is not defined

In [ ]:
sns.countplot('거래유형', hue='결제유형', data=js_coupang) 
plt.show()

In [ ]:
js_coupang.loc[(js_coupang['거래유형'] == 'CANCEL')].groupby('결제유형')[['거래일시']].count()

In [ ]:
js_coupang.loc[(js_coupang['거래유형'] == 'CANCEL')]

In [ ]:
js_coupang['결제유형'].unique()